h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}
.go {
  background-color: green;
  border: 2px solid green;
  border-radius: 8px;
}
.stop{
  background-color: red;
  border: 2px solid red;
  border-radius: 8px;
}